//My Colors
$main-color: #fac810;

//font sizes


//My Classes

* {
    margin: 0;
    padding: 0;
}
.header_icon {
    height: 5vh;
    width: 5vw;
    padding: 0 5vw;
}
.my-toolbar {
    .Home {
        text-decoration: none;
        padding: 0 1.2vw;
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 22%;
            bottom: 0;
            top: 100%;
            background-color: lighten($main-color, 30%);
            height: 0.2em;
            width: 40%;
        }
    }
    .Store {
        text-decoration: none;
        padding: 0.5vh 1.2vw;
        border: 2px solid lighten($main-color, 30%);
    }
    .Events {
        color: black;
        text-decoration: none;
        padding: 0 1.2vw;
    }
    .Categories {
        color: black;
        text-decoration: none;
        padding: 0 1.2vw;
    }
}
.header_Logo {
    &img{
    height: 90vh;
}
}
.EventImgs{
    height: 15vh;
    width: 15vw;
    left: 0;
}
.EventPlus{
    background-color: #f9fafc ;
    padding: 0px!important;
    .event-title{
        font-size: 3vw;
        margin-top: 1vh;
        top: 0;
        left: 0!important;
    }
    .desc{
        font-size: 1vw;
        letter-spacing: .1rem;
        margin: 0;
        padding: 0;
    }
}
.trending--title{
    font-size: 2vw;
    font-weight: bold;
    position: relative;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 100%;
        background-color: ($main-color);
        height: 0.2em;
        width: 60%;
    }
}
.trending--browse{
    font-size: 1vw!important;
}

// Helpers

.noPM{
    padding:0px!important;
    margin: 0px!important;
    width: 100%;
    max-width: none!important;
}
